
@{
	ViewBag.Title = "Index";
}

<div class="w3-content w3-display-container">
	<img class="mySlides" src="../Content/1.jpg" style="width:1000px; height:1000px" >
	<img class="mySlides" src="../Content/2.jpg" style="width:1000px; height:1000px; display:none;">

	<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

 